version: "3.9"

services:
  frontend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: react_frontend
    ports:
      - "3001:80" # Mapea el puerto 80 del contenedor al 3000 local
    restart: unless-stopped
